Laser.Sources/Laser.Orchard/Modules/Laser.Orchard.Mobile/Service References/SmsServiceReference/SmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="tns:Sms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sms">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SmsNumber" type="tns:ArrayOfLong" />
          <s:element minOccurs="0" maxOccurs="1" name="SmsBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsValidityPeriod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsPrority" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SmsTipoCodifica" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MamHaveAlias" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SmsFrom" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsStateByExternalId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="externalId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsStateByExternalIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSmsStateByExternalIdResult" type="tns:ArrayOfStatusByExtId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatusByExtId">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatusByExtId" nillable="true" type="tns:StatusByExtId" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusByExtId">
        <s:complexContent mixed="false">
          <s:extension base="tns:SmsStatus">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SmsNumber" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SmsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SmsState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmsSentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmsLastUpdate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSmsStateBySmsNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smsNumber" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsStateBySmsNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSmsStateBySmsNumberResult" type="tns:ArrayOfStatusByNum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatusByNum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatusByNum" nillable="true" type="tns:StatusByNum" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusByNum">
        <s:complexContent mixed="false">
          <s:extension base="tns:SmsStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ExternalId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetSmsStateByExternalIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSmsStateByExternalId" />
  </wsdl:message>
  <wsdl:message name="GetSmsStateByExternalIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSmsStateByExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetSmsStateBySmsNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetSmsStateBySmsNumber" />
  </wsdl:message>
  <wsdl:message name="GetSmsStateBySmsNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetSmsStateBySmsNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsServiceSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsStateByExternalId">
      <wsdl:input message="tns:GetSmsStateByExternalIdSoapIn" />
      <wsdl:output message="tns:GetSmsStateByExternalIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsStateBySmsNumber">
      <wsdl:input message="tns:GetSmsStateBySmsNumberSoapIn" />
      <wsdl:output message="tns:GetSmsStateBySmsNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsServiceSoap" type="tns:SmsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsStateByExternalId">
      <soap:operation soapAction="http://tempuri.org/GetSmsStateByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsStateBySmsNumber">
      <soap:operation soapAction="http://tempuri.org/GetSmsStateBySmsNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsServiceSoap12" type="tns:SmsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsStateByExternalId">
      <soap12:operation soapAction="http://tempuri.org/GetSmsStateByExternalId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsStateBySmsNumber">
      <soap12:operation soapAction="http://tempuri.org/GetSmsStateBySmsNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsService">
    <wsdl:port name="SmsServiceSoap" binding="tns:SmsServiceSoap">
      <soap:address location="http://lcit.laser-group.com/wsOrchardSMS/SmsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsServiceSoap12" binding="tns:SmsServiceSoap12">
      <soap12:address location="http://lcit.laser-group.com/wsOrchardSMS/SmsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>