Laser.Sources/Laser.Orchard/Modules/Laser.Orchard.Queues/Service References/wsCode/Coda.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wscode.laser-group.com/Coda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCoda" />
  <xs:element name="Imposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCoda" minOccurs="0" name="c" nillable="true" type="q1:CodeElenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpostaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCoda" minOccurs="0" name="ImpostaResult" nillable="true" type="q2:CodeElenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leggi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfCoda" minOccurs="0" name="c" nillable="true" type="q3:CodeElenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeggiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfCoda" minOccurs="0" name="LeggiResult" nillable="true" type="q4:CodeElenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingStatoInLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfCoda" minOccurs="0" name="c" nillable="true" type="q5:CodeElenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingStatoInLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfCoda" minOccurs="0" name="PingStatoInLineaResult" nillable="true" type="q6:CodeElenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>