Laser.Sources/Laser.Orchard/Modules/Laser.Orchard.Queues/Service References/wsCode/Coda1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfCoda" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfCoda" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wscode.laser-group.com/Coda.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://wscode.laser-group.com/Coda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CodeElenco">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatoRichiesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="tns:ArrayOfCodaAttuale" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodeElenco" nillable="true" type="tns:CodeElenco" />
  <xs:complexType name="StatoRichiesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errori" nillable="true" type="tns:ArrayOfErroreRichiesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatoRichiesta" nillable="true" type="tns:StatoRichiesta" />
  <xs:complexType name="ArrayOfErroreRichiesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErroreRichiesta" nillable="true" type="tns:ErroreRichiesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErroreRichiesta" nillable="true" type="tns:ArrayOfErroreRichiesta" />
  <xs:complexType name="ErroreRichiesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errore" type="xs:int" />
      <xs:element minOccurs="0" name="Segnalazione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErroreRichiesta" nillable="true" type="tns:ErroreRichiesta" />
  <xs:complexType name="ArrayOfCodaAttuale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CodaAttuale" nillable="true" type="tns:CodaAttuale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCodaAttuale" nillable="true" type="tns:ArrayOfCodaAttuale" />
  <xs:complexType name="CodaAttuale">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatoRichiesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contatore" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Descrizione" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DescrizioneFuoriLinea" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DescrizioneStato" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PingInLinea" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Stato" type="tns:StatiCoda" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodaAttuale" nillable="true" type="tns:CodaAttuale" />
  <xs:simpleType name="StatiCoda">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Attivo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonAttivo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FuoriLinea" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatiCoda" nillable="true" type="tns:StatiCoda" />
</xs:schema>